.grid{
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items:  center;
  flex-wrap: wrap;
}
.turn-highlight{
  color: white;
}
.reset{
  padding: 0.5rem 2rem;
  margin-left: 100px;
}
.flexItem{
  display: flex;
  margin-bottom: 50px;
}